<?xml version="1.0" encoding="UTF-8" ?>
<ScrollView
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:android="http://schemas.android.com/apk/res/android"
  xsi:noNamespaceSchemaLocation="layout.xsd"
  android:layout_height="match_parent"
  android:layout_width="match_parent"
>
  <LinearLayout
    android:layout_height="match_parent"
    android:layout_width="match_parent"
    android:orientation="vertical"
  >
    <LinearLayout
      android:layout_height="match_parent"
      android:layout_width="match_parent"
      android:orientation="vertical"
    >
      <CheckBox android:layout_height="wrap_content"
                android:layout_width="wrap_content"
                android:tag="BCS"
                android:text="编程狮"
                android:textColor="#669999"
                android:textSize="14dp"
                android:gravity="center"
                android:checked="true"
      />
      <CheckBox android:layout_height="wrap_content"
                android:layout_width="wrap_content"
                android:tag="Cainiao"
                android:text="菜鸟裹裹"
                android:textColor="#669999"
                android:textSize="14dp"
                android:gravity="center"
                android:checked="true"
      />
      <CheckBox android:layout_height="wrap_content"
                android:layout_width="wrap_content"
                android:tag="CZB"
                android:text="团油"
                android:textColor="#669999"
                android:textSize="14dp"
                android:gravity="center"
                android:checked="true"
      />
      <CheckBox android:layout_height="wrap_content"
                android:layout_width="wrap_content"
                android:tag="GMap"
                android:text="高德地图"
                android:textColor="#669999"
                android:textSize="14dp"
                android:gravity="center"
                android:checked="true"
      />
      <CheckBox android:layout_height="wrap_content"
                android:layout_width="wrap_content"
                android:tag="Haval"
                android:text="哈弗智家"
                android:textColor="#669999"
                android:textSize="14dp"
                android:gravity="center"
                android:checked="true"
      />
      <CheckBox android:layout_height="wrap_content"
                android:layout_width="wrap_content"
                android:tag="Idlefish"
                android:text="闲鱼"
                android:textColor="#669999"
                android:textSize="14dp"
                android:gravity="center"
                android:checked="true"
      />
      <CheckBox android:layout_height="wrap_content"
                android:layout_width="wrap_content"
                android:tag="SMZDM"
                android:text="什么值得买"
                android:textColor="#669999"
                android:textSize="14dp"
                android:gravity="center"
                android:checked="true"
      />
      <CheckBox android:layout_height="wrap_content"
                android:layout_width="wrap_content"
                android:tag="RenRen"
                android:text="人人视频"
                android:textColor="#669999"
                android:textSize="14dp"
                android:gravity="center"
                android:checked="true"
      />
      <CheckBox android:layout_height="wrap_content"
                android:layout_width="wrap_content"
                android:tag="JDJR"
                android:text="京东金融"
                android:textColor="#669999"
                android:textSize="14dp"
                android:gravity="center"
                android:checked="true"
      />
    </LinearLayout>
    <LinearLayout
      android:layout_height="match_parent"
      android:layout_width="match_parent"
      android:orientation="horizontal"
    >
      <Button android:layout_height="wrap_parent"
              android:layout_width="match_parent"
              android:tag="saveBtn"
              android:text="保存配置"
              android:textColor="#669999"
              android:textSize="14dp"
              android:gravity="center"
      />
    </LinearLayout>
  </LinearLayout>
</ScrollView>
